.gameTypeBtn {
	@apply rounded-[9px] text-white text-[14px] md:text-[18px] cursor-pointer transition-all duration-[0.2s] ease-in-out hover:opacity-80 mx-2;
}

.form {
	@apply flex flex-col items-center mt-3 w-full;
}
.input {
	@apply border border-gray-300 px-4 py-2 rounded-md w-full outline-0 hover:shadow-md focus:shadow-md transition-all duration-700 ease-in-out;
}

.inputGroup {
	@apply mt-5 flex items-center w-full;
}

input:read-only {
	@apply bg-gray-200  rounded-t-md rounded-r-none hover:shadow-none text-slate-800;
}

.btnGenerate {
	@apply py-2 text-teal-500 border border-gray-400 p-3 text-[12px] h-[42px] hover:border-teal-500 font-bold;
}

.btnCopy {
	@apply text-[12px] p-3 border border-gray-400 text-blue-500 h-[42px] rounded-t-md rounded-l-none rounded-r-md hover:border-blue-500 font-bold;
}

button:disabled {
	@apply bg-gray-400 cursor-not-allowed;
}

.chooseRoom {
	@apply mt-5  text-white hover:text-white w-full py-3 px-4 rounded-full transition-all duration-300 ease-out text-[16px] hover:bg-slate-700 border border-slate-800 font-[700];
}

.joinersBtn {
	@apply bg-teal-600 text-white p-2 rounded-md text-[14px] shadow-xl hover:shadow-sm transition-all duration-700 ease-in-out;
}
