.formsWrapper {
	@apply flex flex-col items-center mb-7 justify-center h-auto;
}

.cardWrapper {
	@apply flex flex-col md:flex-row items-center justify-center gap-4;
}

.card {
	@apply border border-gray-200 shadow-md flex flex-col items-center justify-start p-5 mt-4 rounded-md w-[370px] h-[300px] bg-opacity-25 backdrop-filter backdrop-blur-lg;
}

.card h2 {
	@apply text-slate-800 font-[600] text-2xl mb-4;
}

.form {
	@apply flex flex-col items-center mt-3 w-full;
}
.input {
	@apply border border-gray-300 px-4 py-2 rounded-md w-full outline-0 hover:shadow-md focus:shadow-md transition-all duration-700 ease-in-out;
}

.inputGroup {
	@apply mt-5 flex items-center w-full;
}

input:read-only {
	@apply bg-gray-200  rounded-t-md rounded-r-none hover:shadow-none text-slate-800;
}

.btnGenerate {
	@apply py-2 text-teal-500 border border-gray-400 p-3 text-[12px] h-[42px] hover:border-teal-500 font-[600];
}

.btnCopy {
	@apply text-[12px] p-3 border border-gray-400 text-blue-500 h-[42px] rounded-t-md rounded-l-none rounded-r-md hover:border-blue-500 font-bold;
}

.actionBtns {
	@apply mt-5 bg-slate-800 text-white w-full py-3 px-4 rounded-md transition-all duration-700 ease-in-out text-[16px] hover:bg-slate-700 font-[700];
}

.colorPicketInput {
	@apply border border-slate-200 outline-none ring-0 rounded-[6px] cursor-pointer p-[2px] shadow-md hover:shadow-sm transition-all duration-700 ease-in-out;
}

button:disabled {
	@apply bg-gray-400 cursor-not-allowed;
}

.joinersBtn {
	@apply bg-teal-600 text-white py-2 px-3 rounded-md text-[15px] shadow-xl hover:shadow-sm transition-all hover:font-bold hover:bg-teal-500 duration-700 ease-in-out;
}

.mainWrapper {
	@apply flex flex-col items-center justify-center h-auto mt-5;
}

.toolBtnsContainer {
	@apply flex flex-wrap justify-center items-center gap-7 px-3 text-[15px];
}

.tools {
	@apply flex gap-1;
}

.tools div {
	@apply text-slate-700 gap-1 flex rounded-md px-3 py-1 text-xl;
}

.rewindBtnWrapper {
	@apply flex gap-2;
}

.rewindBtns {
	@apply px-3 py-2 text-[#007bff] border border-[#007bff] rounded-md hover:text-white hover:bg-[#007bff] disabled:hover:bg-gray-400 disabled:border-gray-400 disabled:text-white;
}

.clearBtn {
	@apply border-none text-white bg-red-500 hover:bg-red-700;
}

.whiteboardContainer {
	@apply border border-gray-200 rounded-md w-[300px] md:w-[600px] lg:w-[800px] mx-auto mt-7 h-[500px] shadow-md;
}

.sidebar {
	@apply border px-4 py-3 h-auto w-full md:w-auto md:h-[500px] border-gray-200 rounded-md shadow-md overflow-scroll;
}
