@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');

* {
	font-family: 'DM Sans', sans-serif;
}

body {
	overflow-y: hidden;
}

.App {
	min-height: 100vh;
	display: flex;
	background-image: url('./images/background-img.webp');
	background-position: center;
	background-size: cover;
}

*::selection {
	background-color: rgb(50, 174, 174);
	color: white;
}

.chat-bg {
	min-height: 100vh;
	background-image: url('./images/background-img.webp');
	background-position: center;
	background-size: cover;
}

.w-full {
	width: 100%;
}

::-webkit-scrollbar {
	width: 0px;
}

::-webkit-scrollbar-thumb {
	background: rgba(136, 136, 136, 0.281);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.messages {
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	scrollbar-width: none;
}
